.container {
  padding: 10px;
}

.title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}

.apartmentList {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}
